<html>

<head>
<title>DaysSinceWhen</title>
</head>


<body>

<p>DaysSinceWhen("date") returns a digital value of the number of days since
the date entered.  This simple function can be enhanced if needed to include
time zones, etc. </p>

Please see the extensive details on the DaysSinceWhen() package and function in its help file  i.e. ?DaysSinceWhen

The following example may be of assistance if an integer value is needed:</p>

NumDays <- as.integer(DaysSinceWhen("2000-1-1"))</p>

Please observe the use of "as.integer()" above</p>

</p>
The function implemented in the package has the same name as the package:<\p>
<!--begin.rcode
DaysSinceWhen <- function(dob) {
  DaysOld <- as.numeric(difftime(Sys.time(),dob, units = "days"))
  return(DaysOld)
}
end.rcode-->


</body>
</html>
